<article is="cherrytea-landing-form">
	<h1>Ваші речі змінюють світ!</h1>
	<p>Передайте їх нам і ми подаруємо їм друге життя</p>
	<form action="">
		<h2>Я хочу віддати речі</h2>
		<input type="text" placeholder="Ім’я">
		<input type="tel" placeholder="Телефон">
		<input type="email" placeholder="Email">
		<div>
			<input type="text" placeholder="Місто">
			<input type="text" placeholder="Адреса">
		</div>
		<input type="text" placeholder="Коментар (за бажанням)">
		<button>Віддати речі</button>
	</form>
</article>
<article is="cherrytea-landing-how-it-works">
	<h1>Як це працює?</h1>
	<ul>
		<li>Зберіть непотрібні вам речі</li>
		<li>Залиште заявку у нас на сайті</li>
		<li>Ми зв’яжемось з вами так узгодимо зручний для вас час, щоб забрати речі</li>
		<li>
			<b>60%</b> передамо в благодійні фонди<br>
			<b>30%</b> продамо для підтримки роботи проекту<br>
			<b>10%</b> віддамо на переробку
		</li>
	</ul>
</article>
<article is="cherrytea-landing-numbers">
	<div>
		<h1>142 людини</h1>
		<p>віддали свої речі</p>
	</div>
	<div>
		<h1>1.47 тонни</h1>
		<p>загальна вага речей</p>
	</div>
</article>
